main {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}
.text {
    border-radius: 10px;
}

.contact-method {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

#media :hover{
    color: #007BFF;
}